h1 {
  color: snow;
  font-family: "Acme", sans-serif;
}

table {
  width: 100%;
}

.card td,
.card th {
  padding: 0.75rem;
  text-align: left;
}

.card th {
  border-bottom: 1px solid white;
}

.card tbody {
  max-height: 10px;
  overflow: scroll;
}

.card {
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 1);
  background: #212121;
}
